# Ignore everything in .idea
.idea/

# Allow essential shared files
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml

# Optional: Include shared run configurations and code styles
!.idea/runConfigurations/
!.idea/codeStyles/Project.xml


### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store